<MudDialog>
    <DialogContent>
        <h5>@_content</h5>
    </DialogContent>
    <DialogActions>
        <MudButton  Variant="Variant.Filled" Color="Color.Info" @bind-Disabled="isHidden" OnClick="Save">Yes</MudButton>
        <MudButton OnClick="@(() => MudDialog.Cancel())">No</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public string _content { get; set; }

    private bool isHidden;

    protected override async void OnInitialized()
    {
        isHidden = true;
        await Task.Delay(250);
        isHidden = false;
        StateHasChanged();
    }

    private void Save()
    {
        MudDialog.Close(true);
    }
}