@page "/counter"
@using NapelemEditor.Models
@using NapelemEditor.Interfaces
@inject INapelem napelemController


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<MudButton OnClick="saveNapelem">asdasd</MudButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    public void saveNapelem()
    {
        
        napelemController.AddNapelem( new Napelem
        {
            height = 100,
            width = 50,
            output = 1500
        });
    }
}