@using Models
@using MongoDB.Bson
@using MongoDB.Driver.Linq
@inject Interfaces.INapelem NapelemController;

@page "/test"
<h3>CanvasTest</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        panels = await NapelemController.GetAllNapelem();
    
    }
    List<Napelem> panels = new();
}